# Python divides the operators in the following groups:

# Arithmetic operators
# Assignment operators
# Comparison operators
# Logical operators
# Identity operators
# Membership operators
# Bitwise operators

In [12]:
a: int = 7
b: int = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)

9
5
14
3.5

In [13]:
a: int = 11
b: int = 3
display(a % 3)

2

In [17]:
display(2**2)
display(2**3)
display(11 / 3)
display(11 // 3)

4

8

3.6666666666666665

3

Python Assignment Operators

In [25]:
a: int = 7
b: int = 2
a+= 2
a-=1
a*=3
a/=2
a%=1
display(a)

0.0

Python Comparison Operators

In [31]:
a:int = 7
b: int = 10
display(a == b)
display(a!=b)
display(a > b)
display(a < b)
display(a >= b)
display(a <= b)

False

True

False

True

False

True

The range of ASCII values for uppercase letters A-Z is 65-90, and the range for lowercase letters a-z is 97-122.
# A = 65
# Z = 90
# a = 97
# z = 122
# 0 = 48
# 9 = 57

In [35]:
a:str = "A"
b:str = "B"
display(a>=b)
display(b>=a)

False

True

Python logical operators
# and operator means definitely or important
# or operator means optional

In [43]:
a:int = 2
b:int = 3
display(a<3 and b>2)
display(a>3 or b<2)
name:str = "Zain"
display(not name=="Zain")
display(name!="Zain")

True

False

False

False

Python Identity Operator

In [49]:
x:str = "abc"
z:str = "abc"
display(id(x))
display(id(z))

140713739292936

140713739292936

In [52]:
x is z

True

In [53]:
x:str = "abc"
z:str = "abc"
display(id(x))
display(id(z))

140713739292936

140713739292936

In [54]:
x is not z

False

Python Membership Operators includes in and not in
# chr converts a number to the character
# ord converts a character to its corresponding numeric code

In [55]:
names:list[str] = [chr(i) for i in range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [58]:
names: list[str] = [chr(i) for i in range(55,91)]
"D" in names

True

In [59]:
names: list[str] = [chr(i) for i in range(55,91)]
"ABC" in names

False

In [60]:
names: list[str] = [chr(i) for i in range(55,91)]
"H" not in names

False

In [65]:
names: list[str] = ["Sir Zia", "Sir Inam", "Zain"]
userinput: str = input("Enter your name")
userinput in names

False

PEMDAS, parentheses-exponent or power-multiplication-divide-addition-substration

In [66]:
display(3 + 2 - 2 * 4 / 2 + 2)

3.0

In [67]:
universal_age: int = 14_000_000_000
display(universal_age)

14000000000

In [69]:
a , b , c = "Zain", 3 , 3.0
display(a)
display(b)
display(c)

'Zain'

3

3.0

In [70]:
# unzip
data = ("Zain", 3 , 3.0)
display(*data)

'Zain'

3

3.0

In [78]:
2 * 2
"a" * 3

'aaa'

In [80]:
# select then control with / will comment whole selection
# sda
# gjj
# sfg
# diol
# bgkqp

In [81]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!