In [10]:
name:str = "Zain Babar"
print(name)

Zain Babar

# String Data type in python

In [11]:
# boundaries
# 'string text', "string text", ''' string text''', """string text"""
# `string text` backtick only in typescript not in python
name: str = "Zain Babar"
print(type(name))
print(name)

<class 'str'>
Zain Babar

In [12]:
# convert any special character into simple character,place \ before character
# place \n between text if text start from next line(line change) just like below example
messgae : str = 'PIAIC student card\nFather\'s name'
print(messgae)

PIAIC student card
Father's name

In [13]:
name: str = "Zain Babar"
father_name: str = "Babar Mumtaz"
education: str = "Master's in finance"
age: int = 33 

card : str = "PIAIC Student Card\nStudent Name:" + name + "\nAge:" + str(age)
print(card)

PIAIC Student Card
Student Name:Zain Babar
Age:33

# \\ line continue

In [14]:
name: str = "Zain Babar"
father_name: str = "Babar Mumtaz"
education: str = "Master's in finance"
age: int = 33 

card : str = "PIAIC Student Card\nStudent Name:" + name +\
"\nAge:" + str(age)+ "\n"+\
"Education: " + education 
print(card)

PIAIC Student Card
Student Name:Zain Babar
Age:33
Education: Master's in finance

## Define Multiline string """ """ , ''' '''

In [15]:
name: str = "Zain Babar"
father_name: str = "Babar Mumtaz"
education: str = "Master's in finance"
age: int = 33 


card: str = """ 
PIAIC Student Card
Student Name: .....
Father's Name: .....
Age: .....
Education: .......
"""
print(card)

PIAIC Student Card
Student Name: .....
Father's Name: .....
Age: .....
Education: .......

F-string if assigned after = then all type of data types values can be assigned with """ """, ''' '''

In [16]:
name: str = "Zain Babar"
father_name: str = "Babar Mumtaz"
education: str = "Master's in finance"
age: int = 33 

card: str = f""" 
PIAIC Student Card
Student Name: {name} 
Father's Name: {father_name} 
Age: {age}
Education: {education} 
Total {2 + 4 + 6 + 8}
"""
print(card)

PIAIC Student Card
Student Name: Zain Babar
Father's Name: Babar Mumtaz
Age: 33
Education: Master's in finance
Total 20

#F-string and Jinja style

In [17]:
# F-string
# f place after = and before """ and {} use to place value
# Jinja Style
# """"
# student name {{name}}
# """

Before in use not now

In [18]:
card: str = f""" 
PIAIC Student Card
Student Name: %s 
Father's Name: %s
Age: %d
Education: %s 
""" % (name,father_name,age,education)
print(card)

PIAIC Student Card
Student Name: Zain Babar
Father's Name: Babar Mumtaz
Age: 33
Education: Master's in finance

# Methods and Attributes of variables i.e. string,number etc

In [19]:
[i for i in dir(str) if "_" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [21]:
name: str = "ZAiN bABAr"
print(name.capitalize())
print(name.lower())

Zain babar
zain babar

Format Method {} place holder

In [22]:
a = 7
b = 8
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

Explore string methods and attributes
pre-define global functions we have used

*print
*type
*id
*dir
*len

In [23]:
a:list[str] = [i for i in dir(str) if "_" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

In [35]:
name: str = "ZAiN BabAr"
print(name.capitalize())
print(name.casefold())
print(name.title())
print(name.upper())
print(name.lower())

Zain babar
zain babar
Zain Babar
ZAIN BABAR
zain babar

In [39]:
first_name: str = "Zain"
Last_name: str = "Babar"
full_name: str = f"{first_name} {Last_name}"
display(full_name)
display(full_name.title())
messgae: str = f"Hello,{full_name.title()}!"
display(messgae)

'Zain Babar'

'Zain Babar'

'Hello,Zain Babar!'

In [30]:
name: str = "     ZaiN bABaR     "
display(name.lstrip())
display(name.rstrip())
display(name.strip())

'ZaiN bABaR     '

'     ZaiN bABaR'

'ZaiN bABaR'

In [33]:
# import re (regular expression)
import re
name: str = "     Zain     Babar     "
display(name)
name1: str = re.sub(' {2,100}',' ',name).strip()
display(name1)

'     Zain     Babar     '

'Zain Babar'

In [43]:
#\n
#\t
#\b

print("Name:\t\t Zain Babar")
print("Name:\n Zain Babar")
print("Name:\b Zain Babar")

Name:		 Zain Babar
Name:
 Zain Babar
Name Zain Babar

In [44]:
name: str = "Zain Babar Mumtaz Bhatti"
name.removeprefix("Zain Babar")

' Mumtaz Bhatti'

variable name cannot start with number, can start with text or _, variable name should not has space can use _