# loop and input from user
* while
* for
* controls
    * break
    * continue
    * pass
* input with input function
* input from console

# loop working on iterative data types
* list
* dictionary
* tuple
* string

In [1]:
# iteration means that you pick elements one by one
#                 0 1 2 3 4 5
l1 : list[int] = [1,2,3,4,5,6]
display(l1)

[1, 2, 3, 4, 5, 6]

In [3]:
l1 : list[int] = [1,2,3,4,5,6]
for n in l1:
    display(n)

1

2

3

4

5

6

In [7]:
l1 : list[int] = [1,2,3,4,5,6]
for y in l1:
    display(f"Current Number:{y}")

'Current Number:1'

'Current Number:2'

'Current Number:3'

'Current Number:4'

'Current Number:5'

'Current Number:6'

In [8]:
l1 : tuple[int] = (1,2,3,4,5,6)
for t in l1:
    display(f"Current Number:{t}")

'Current Number:1'

'Current Number:2'

'Current Number:3'

'Current Number:4'

'Current Number:5'

'Current Number:6'

In [10]:
l1 : str = "Pakistan"
for c in l1:
    display(f"Current Character:{c}")

'Current Character:P'

'Current Character:a'

'Current Character:k'

'Current Character:i'

'Current Character:s'

'Current Character:t'

'Current Character:a'

'Current Character:n'

In [11]:
l1 : dict[str,str] = {"Name":"Zain Babar","Father Name":"Babar Mumtaz"}
for k in l1:
    display(f"Current Character:{k}")

'Current Character:Name'

'Current Character:Father Name'

In [13]:
l1 : dict[str,str] = {"Name":"Zain Babar","Father Name":"Babar Mumtaz"}
for m in l1:
    display(f"dictionary key {m} and value is {l1[m]}")

'dictionary key Name and value is Zain Babar'

'dictionary key Father Name and value is Babar Mumtaz'

# input from user
* input function
    * default type = string
* sys.argv ( for console input in abc.py file)
    * default type = str

In [3]:
name : str = input("What is your name?: \t")
display(type(name))
display(f"Welcome dear user Mr/Miss {name}!")

str

'Welcome dear user Mr/Miss zain!'

In [7]:
name : list[str]= ['a','b','c']
fname : list[str] = ['x','y','z']
age : list[int] = [1,2,3]
list(zip(name,fname,age))
for n, fn, ag in zip(name,fname,age):
    display(f"Welcome dear {n} s/o {fn}!")

'Welcome dear a s/o x!'

'Welcome dear b s/o y!'

'Welcome dear c s/o z!'

# While Loop
'''
while logic: # True/False

        loop_body
        
'''

In [8]:
flag : bool = True
current_number : int = 1

while flag:
    display(f"current number is :{current_number}")
    current_number +=1
    if current_number == 10:
        break

'current number is :1'

'current number is :2'

'current number is :3'

'current number is :4'

'current number is :5'

'current number is :6'

'current number is :7'

'current number is :8'

'current number is :9'

In [10]:
l1 : list[int] = [100,200,300]
index : int = 0

while index < len(l1):
    display(f"current index is :{index} and list value is {l1[index]}")
    index +=1

'current index is :0 and list value is 100'

'current index is :1 and list value is 200'

'current index is :2 and list value is 300'

In [13]:
data : list[dict[str,str]] = []

flag : bool = True

while flag:
    display("write quit or exit to stop this program")
    name : str = input("Your good name? \t:")
    education : str = input("Your last education? \t:")

    if name in ['exit','quit','close','stop'] or education in ['exit','quit','close','stop']:
        flag = False
        break
    data.append({"name":name,
                "education":education})
    display(data)

'write quit or exit to stop this program'

[{'name': 'a', 'education': 'b'}]

'write quit or exit to stop this program'

[{'name': 'a', 'education': 'b'}, {'name': 'c', 'education': 'd'}]

'write quit or exit to stop this program'

# control
* break
    * stop
* continue
    * skip
* pass
    * to bypass the error

In [14]:
for i in range(1,11):
    display(i)
    if i == 5:
        break

1

2

3

4

5

In [15]:
for i in range(1,11):
    display(f"2 * {i} = {i*2}")
    break

'2 * 1 = 2'

In [16]:
for i in range(1,11):
    display(f"2 * {i} = {i*2}")

'2 * 1 = 2'

'2 * 2 = 4'

'2 * 3 = 6'

'2 * 4 = 8'

'2 * 5 = 10'

'2 * 6 = 12'

'2 * 7 = 14'

'2 * 8 = 16'

'2 * 9 = 18'

'2 * 10 = 20'

In [18]:
for i in range(1,11):
    if i == 5:
        continue # skip the iteration when i =5 or i is 5
    display(i)

1

2

3

4

6

7

8

9

10

In [19]:
for i in range(1,1000):
    pass

In [22]:
age : int = int(input("How old are you?"))
age >= 18

False

In [23]:
# extract even numbers from this list
data : list[int] = [1,3,5,6,3,15,18]
[i for i in data if i%2==0]

[6, 18]

In [24]:
# extract odd numbers from this list
data : list[int] = [1,3,5,6,3,15,18]
[i for i in data if i%2!=0]

[1, 3, 5, 3, 15]