In [1]:
name1: str = "Zain"
name2: str = "Babar"
name3: str = "Munib"

# List
* dynamic length (unlimited varaibles-no limit)
* hetrogeneous data types (multiple types)
* index
    * positive 0 to n-1
    * negative -1 to length
# slicing always from left to right and display in form of list
* start : int = include
* end : int = n-1
* step : int = sequence

In [2]:
# ->        0       1       2
from os import name


names = ["Zain","Qasim","Ali"]
# <-        -3      -2      -1
display(names[0])
display(names[-3])
display(names[-2])
display(names[2])

'Zain'

'Zain'

'Qasim'

'Ali'

In [18]:
from typing import Any
names: list[Any] = ["Zain","Babar","Ali"]
display(type(names))
display(names[-2])
display(f"founder of PIAIC {names[-3].upper()}")
display(type(names[-2]))

list

'Babar'

'founder of PIAIC ZAIN'

str

In [19]:
characters: list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
display(characters)

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [20]:
characters: list[str] = (['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q',
 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'])

display(characters[0:2]) # 0=include : index 2-1=1
display(characters[:2]) # not pass any number = all
display(characters[-26:-24]) # 0-include : index -24-1=-25
display(characters[0:2:1]) 
display(characters[0:2])
display(characters[::2])
display(characters[::-1])

['A', 'B']

['A', 'B']

['A', 'B']

['A', 'B']

['A', 'B']

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

['Z',
 'Y',
 'X',
 'W',
 'V',
 'U',
 'T',
 'S',
 'R',
 'Q',
 'P',
 'O',
 'N',
 'M',
 'L',
 'K',
 'J',
 'I',
 'H',
 'G',
 'F',
 'E',
 'D',
 'C',
 'B',
 'A']

In [22]:
characters: list[str] = (['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H',])
display(characters[1:-3])
display(characters[-2:-5:-1])

['B', 'C', 'D', 'E']

['G', 'F', 'E']

List Methods

In [8]:
[i for i in dir(list) if "-" not in i]

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Take Help From Python
* help(object)
* object?
* object??
* ?object
* ??object

In [9]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [11]:
print??

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [5]:
names : list[any] = ["Zain","Babar","Ali",20,True]
display(names)
names[0] = "Zain Babar" # mutable-> editable
display(names)

['Zain', 'Babar', 'Ali', 20, True]

['Zain Babar', 'Babar', 'Ali', 20, True]

In [4]:
names : list[any] = ["Zain","Babar","Ali",20,True]
display(names)
del names[3]
display(names)

['Zain', 'Babar', 'Ali', 20, True]

['Zain', 'Babar', 'Ali', True]

In [6]:
a : str = display("Pakistan") # none return function
display(a)

'Pakistan'

None

In [7]:
a : str = id(names) # return function
display(a)

2070112491840

In [12]:
names : list[any] = ["Zain","Babar","Ali",20,True]
del names[3]
names

['Zain', 'Babar', 'Ali', True]

In [15]:
names : list[any] = ["Zain","Babar","Ali",20,True]
display(names)
a : str = names.pop() # pop return method
display(a)
display(names)

['Zain', 'Babar', 'Ali', 20, True]

True

['Zain', 'Babar', 'Ali', 20]

In [17]:
names: list[str] = []
names.append("Sir Zia") #append method add elements in last 
names.append("Sir Inam")
names.append("Zain")
display(names)

['Sir Zia', 'Sir Inam', 'Zain']

In [4]:
names : list[str] = ["a","b","c","d"]
display(names)
names.insert(1,"Zain") # insert on particular position
display(names)
names.insert(3,"Sir Zia")
names

['a', 'b', 'c', 'd']

['a', 'Zain', 'b', 'c', 'd']

['a', 'Zain', 'b', 'Sir Zia', 'c', 'd']

In [21]:
a : list[str] = [1,2,3]
a.clear() # remove all elements but object remain
display(a)

[]

In [24]:
a : list[str] = ["a","b","c"]
b = a.copy() # Deep copy
display(a)
display(b)
b[0] = "pakistan" # change only b variable but both variable updated 
display(a)
display(b)

['a', 'b', 'c']

['a', 'b', 'c']

['a', 'b', 'c']

['pakistan', 'b', 'c']

In [25]:
# count
names : list[str] = ["a","a","a","b","c","c"]
display(names.count("a"))
display(names.count("c"))

3

2

In [27]:
# extend
names : list[str] = ["Sir Zia","M.Qasim"]
new_faculty_members : list[str] = ["Sir Inam", "M.Junaid"]
names.extend(new_faculty_members)
display(names)

['Sir Zia', 'M.Qasim', 'Sir Inam', 'M.Junaid']

In [28]:
names : list[str] = ['Sir Zia', 'M.Qasim', 'Sir Inam', 'M.Junaid']
names.remove("M.Qasim") # remove with text value
names

['Sir Zia', 'Sir Inam', 'M.Junaid']

In [29]:
names : list[str] = ['Sir Zia', 'M.Qasim', 'Sir Inam', 'M.Junaid']
names.index("M.Qasim")

1

In [31]:
names : list[str] = ['Sir Zia', 'M.Qasim', 'Sir Inam', 'M.Junaid',"M.Qasim"]
names.index("M.Qasim",2)

4

In [33]:
names : list[str] = ['Sir Zia', 'M.Qasim', 'Sir Inam', 'M.Junaid']
display(names)
names.reverse()
display(names)

['Sir Zia', 'M.Qasim', 'Sir Inam', 'M.Junaid']

['M.Junaid', 'Sir Inam', 'M.Qasim', 'Sir Zia']

In [35]:
names : list[str] = list("ABJKCDZX")
display(names)
names.sort()
display(names)

['A', 'B', 'J', 'K', 'C', 'D', 'Z', 'X']

['A', 'B', 'C', 'D', 'J', 'K', 'X', 'Z']