# List
* iteration operation with loop
* apply any operation on element

In [1]:
names : list[str] = ["Sir Zia","Zain Babar","Dr Noman"]
display(names)

['Sir Zia', 'Zain Babar', 'Dr Noman']

In [2]:
names : list[str] = ["Sir Zia","Zain Babar","Dr Noman"]
for name in names:
    display(name)

'Sir Zia'

'Zain Babar'

'Dr Noman'

In [3]:
names : list[str] = ["Sir Zia","Zain Babar","Dr Noman"]
for name in names:
    display(f"Welcome Dear Teacher {name.title()}")

'Welcome Dear Teacher Sir Zia'

'Welcome Dear Teacher Zain Babar'

'Welcome Dear Teacher Dr Noman'

In [2]:
names : list[str] = ["Sir Zia","Zain Babar","Dr Noman"]
for name in names:
    display(f"Welcome Dear Teacher {name.title()}")
    display("PIAIC Gen AI Team\n")

display("Pakistan Zindabad")

'Welcome Dear Teacher Sir Zia'

'PIAIC Gen AI Team\n'

'Welcome Dear Teacher Zain Babar'

'PIAIC Gen AI Team\n'

'Welcome Dear Teacher Dr Noman'

'PIAIC Gen AI Team\n'

'Pakistan Zindabad'

In [7]:
# tuple starting from round bracket and its value cannot change
data_base : list[tuple[str,str]] = [
    ("zain","123"),("ali",345),("qasim","789")
    ]
for row in data_base:
    display(row)

('zain', '123')

('ali', 345)

('qasim', '789')

In [8]:
# tuple starting from round bracket and its value cannot change
data_base : list[tuple[str,str]] = [("zain","123"),("ali",345),("qasim","789")]
for row in data_base:
    user, password = row
    display(user, password)

'zain'

'123'

'ali'

345

'qasim'

'789'

In [10]:
# tuple starting from round bracket and its value cannot change
data_base : list[tuple[str,str]] = [("zain","123"),("ali",345),("qasim","789")]
input_user : str = input("Enter user name")
for row in data_base:
    display(row)

('zain', '123')

('ali', 345)

('qasim', '789')

In [4]:
# tuple starting from round bracket and its value cannot change
data_base : list[tuple[str,str]] = [("zain","123"),("ali",345),("qasim","789")]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")

for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        display("Valid User")
    "break"
else:
    display("Not found or invalid user name")

'Valid User'

'Not found or invalid user name'

# Numbers with loop
* 'range(start,end,step)'

In [2]:
range(10)
range(0,10)
list(range(10)) # starting 0, ending n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(2,21,2)) # starting 0, ending n-1, step

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [10]:
# enumerate means show index number
magicians = ["zain","imran","ali","nomi"]
list(enumerate(magicians))

[(0, 'zain'), (1, 'imran'), (2, 'ali'), (3, 'nomi')]

In [11]:
magicians = ["zain","imran","ali"]
for index, name in enumerate(magicians):
    display(index,name)

0

'zain'

1

'imran'

2

'ali'

# generation of table 2

In [12]:
for n in range(1,11):
    display(n)

1

2

3

4

5

6

7

8

9

10

In [13]:
for n in range(1,11):
    display(f"{2} X {n} = {n*2}")

'2 X 1 = 2'

'2 X 2 = 4'

'2 X 3 = 6'

'2 X 4 = 8'

'2 X 5 = 10'

'2 X 6 = 12'

'2 X 7 = 14'

'2 X 8 = 16'

'2 X 9 = 18'

'2 X 10 = 20'

# List comprehensive
'
for item in items_list:
loop body
'
# Comprehensive Style
'
[loop_body for item in items_list]
'

In [16]:
list(range(1,11))
for i in range(1,11):
    display(i**2)

1

4

9

16

25

36

49

64

81

100

In [17]:
list(range(1,11))
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
digits : list[int] = [1,2,3,4,5,6,7,8,9,0]
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [23]:
# Tuples
from typing import Any
data : tuple[Any] = ("A",[1,2,3],True)
display(data)

('A', [1, 2, 3], True)

In [24]:
data : tuple[Any] = ("A",[1,2,3],True)
display(data)
data[1].append(20)
display(data)

('A', [1, 2, 3], True)

('A', [1, 2, 3, 20], True)